<div class="mb-1 ml-5">
    <label class="font-medium text-gray-900" for="head">@Label:</label><br/>
    <input class="w-1/3" type="color" id="head" name="head" value="@InColor.ToRgbaString()" @onchange="@UpdateIt">
    <span class="text-gray-900">@InColor.ToRgbaString()</span>
</div>